version: '3.6'

services:
  node:
    container_name: experience_node_1
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: ${STAGE}
    ports:
      - "8089:8089"
      - "9229:9229"
    labels:
      - traefik.http.routers.api.rule=Host(`api.domain.com`)
      - traefik.http.routers.api.tls=true
      - traefik.http.routers.api.tls.certresolver=lets-encrypt
      - traefik.port=80
    volumes:
      - ./dist:/usr/app/dist
      - ./src:/usr/app/src:cached
      - ./config:/usr/app/config:cached
      - ./.env:/usr/app/.env
    networks:
     - experiencenet

  keycloak:
    container_name: experience_auth_1
    build:
      context: ./docker/keycloak
      dockerfile: Dockerfile
      target: ${STAGE}
    ports:
      - "8080:8080"
    environment:
      -  KEYCLOAK_ADMIN=superadmin@node.com
      -  KEYCLOAK_ADMIN_PASSWORD=db_experience123
      -  KEYCLOAK_ADMIN_THEME=base
      -  KC_DB=postgres
      -  KC_DB_URL=jdbc:postgresql://db_sql:5432/experience?user=experience&password=experience&charSet=UTF-8
      -  WAIT_FOR_DB=true
      -  KC_HOSTNAME=localhost
      -  KC_HEALTH_ENABLED=true
      -  KC_METRICS_ENABLED=true
    networks:
     - experiencenet

  db_sql:
    container_name: experience_db_sql_1
    restart: always
    build:
      context: docker/postgres/
      dockerfile: Dockerfile
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=experience
      - POSTGRES_DB=experience
      - POSTGRES_PASSWORD=experience
    volumes:
      - data_sql:/var/lib/postgresql/data
    networks:
      - experiencenet

  db:
    container_name: experience_db_1
    restart: always
    build:
      context: docker/mongo/
      dockerfile: Dockerfile
    ports:
      - "27018:27017"
    networks:
     - experiencenet
    environment:
      MONGODB_ROOT_PASSWORD: 123456
      MONGODB_USERNAME: experience
      MONGODB_PASSWORD: experience
      MONGODB_DATABASE: experience
    volumes:
      - data:/bitnami/mongodb

  mail:
    container_name: experience_mail_1
    restart: always
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"
    networks:
     - experiencenet

  minio:
    container_name: experience_minio_1
    restart: always
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    labels:
      - traefik.http.routers.api.rule=Host(`minio.domain.com`)
      - traefik.http.routers.api.tls=true
      - traefik.http.routers.api.tls.certresolver=lets-encrypt
      - traefik.port=80
    networks:
     - experiencenet
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: 12345678
      MINIO_DOMAIN: localhost
    volumes:
      - minio:/data
    command: server --address 0.0.0.0:9000 --console-address 0.0.0.0:9001 /data

  redis:
    image: bitnami/redis:latest
    restart: always
    container_name: experience_redis_1
    environment:
      - REDIS_PASSWORD=ewsua132435 # Security reasons
      - DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG # Security reasons
    ports:
      - "6379:6379"
    networks:
     - experiencenet
    volumes:
      - redis:/bitnami/redis/data

networks:
  experiencenet:
    driver: "bridge"

volumes:
  data:
    driver: "local"
  data_sql:
    driver: "local"
  minio:
    driver: "local"
  redis:
    driver: "local"
