version: '3'

services:
  node:
    container_name: experience_node_1
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
    working_dir: /usr/app
    entrypoint: bash dev.build.sh
    volumes:
     - .:/usr/app:cached
    ports:
      - 8089:8089
    networks:
     - experiencenet

  db:
    container_name: experience_db_1
    restart: always
    build:
      context: docker/mongo/
      dockerfile: Dockerfile
    ports:
      - 27017:27017
    environment:
      MONGODB_ROOT_PASSWORD: 123456
      MONGODB_USERNAME: experience
      MONGODB_PASSWORD: experience
      MONGODB_DATABASE: experience
    networks:
      - experiencenet
    volumes:
      - data:/bitnami/mongodb

  mail:
    container_name: experience_mail_1
    restart: always
    image: mailhog/mailhog:latest
    ports:
      - 8027:8025
    networks:
      - experiencenet

  s3:
    container_name: experience_s3_1
    restart: always
    image: minio/minio
    ports:
      - 9002:9000
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: 12345678
    volumes:
      - s3:/data
    networks:
      - experiencenet
    command: server /data

  redis:
    image: bitnami/redis:latest
    restart: always
    container_name: experience_redis_1
    environment:
      - REDIS_PASSWORD=ewsua132435 # Security reasons
      - DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG # Security reasons
    ports:
      - 6379:6379
    volumes:
      - data:/bitnami/redis/data
    networks:
      - experiencenet

networks:
  experiencenet:
    driver: "bridge"

volumes:
  data:
    driver: "local"
  s3:
    driver: "local"
             
