version: '3.4'

services:
  node:
    container_name: experience_node_1
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      target: ${STAGE}
    ports:
      - "8089:8089"
      - "9229:9229"
    labels:
      - traefik.http.routers.api.rule=Host(`api.domain.com`)
      - traefik.http.routers.api.tls=true
      - traefik.http.routers.api.tls.certresolver=lets-encrypt
      - traefik.port=80
    volumes:
      - .:/usr/app:cached
    networks:
     - experiencenet

  db:
    container_name: experience_db_1
    restart: always
    build:
      context: docker/mongo/
      dockerfile: Dockerfile
    ports:
      - "27017:27017"
    networks:
     - experiencenet
    environment:
      MONGODB_ROOT_PASSWORD: 123456
      MONGODB_USERNAME: experience
      MONGODB_PASSWORD: experience
      MONGODB_DATABASE: experience
    volumes:
      - data:/bitnami/mongodb

  mail:
    container_name: experience_mail_1
    restart: always
    image: mailhog/mailhog:latest
    ports:
      - "8025:8025"
    networks:
     - experiencenet

  minio:
    container_name: experience_minio_1
    restart: always
    image: minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    labels:
      - traefik.http.routers.api.rule=Host(`minio.domain.com`)
      - traefik.http.routers.api.tls=true
      - traefik.http.routers.api.tls.certresolver=lets-encrypt
      - traefik.port=80
    networks:
     - experiencenet
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: 12345678
      MINIO_DOMAIN: localhost
    volumes:
      - minio:/data
    command: server --address 0.0.0.0:9000 --console-address 0.0.0.0:9001 /data

  redis:
    image: bitnami/redis:latest
    restart: always
    container_name: experience_redis_1
    environment:
      - REDIS_PASSWORD=ewsua132435 # Security reasons
      - DISABLE_COMMANDS=FLUSHDB,FLUSHALL,CONFIG # Security reasons
    ports:
      - "6379:6379"
    networks:
     - experiencenet
    volumes:
      - redis:/bitnami/redis/data

networks:
  experiencenet:
    driver: "bridge"

volumes:
  data:
    driver: "local"
  minio:
    driver: "local"
  redis:
    driver: "local"
