<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p>Hello</p>
        <p>Notification Example</p>
        <br>
        <br>
        <p>Cheers,</p>
        <p>The team</p>
    </body>
</html>
