<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p>Welcome to NExp</p>
        <p>, we are very happy that you are part of our team</p>
        <br>
        <p>
            Before starting you need to validate your income.
            <br>
            click  <a href="" target="_blank">here</a>
        </p>
        <br>
        <p>Cheers,</p>
        <p>The team</p>
    </body>
</html>
