<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p>Welcome to NExp</p>
        <p>, your account has been verified successfully, you can now log in to Nexp</p>
        <br>
        <br>
        <p>Cheers,</p>
        <p>The team</p>
    </body>
</html>
