version: 2.1
jobs:
  test:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: echo "Running tests"
      - run: npm install --force
      - run: npm test

workflows:
  version: 2
  test_build:
    jobs:
      - test
