<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p>Hello</p>
        <p>You can change your pass from this <a href="{{urlConfirmationToken}}" target="_blank">link</a></p>
        <br>
        <br>
        <p>Cheers,</p>
        <p>The team</p>
    </body>
</html>